/*////////////////////////---------------->Principal<------------------////////////////////////*/
body{
    width: 100%;
}
/*header*/
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    flex: 1;
}
#logo img{
    width: 100%;
}
@media (max-width: 720px) {
    #logo {
        display: none;
    }
}
#contenidor2{
    display: flex;
    flex-direction: column;
    flex: 8;
}
#titol1{
    font-family: 'sans-serif';
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: #9d539d;
}
#conjunt1{
    flex: 1;
    border-radius: 4px;
    max-width: 300px;
    margin: 0 auto;
    padding: 5px;
}
#conjunt1 input[type="text"] {
    flex: 1;
    border: none;
    padding: 5px;
    margin-left: -25px;
}
#conjunt1 input[type="submit"] {
    background-color: #9d539d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
#conjunt1 input[type="submit"]:hover{
        background-color: #0056b3;
}
#menuTop{
    flex: 1;
    margin-top: 0.6em;
}
#menuTop ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    display: flex;
    justify-content: space-between;
}
#menuTop li{
    margin: 0;
}
#menuTop li a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}
#menuTop li a:hover{
    background-color: #555;
    color: #8f8fff;
}
@media (max-width: 720px) {
    #menuTop ul {
        flex-direction: column;
        align-items: center;
    }

    #menuTop li {
        margin: 5px 0;
    }
}

/*menuCataleg*/
#menuCataleg ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#menuCataleg li{
    margin: 0;
}
#menuCataleg li a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
}
#menuCataleg li a:hover{
    background-color: #f0f0f0;
    text-decoration: underline;
}
@media (max-width: 720px) {
    #menuCataleg ul {
        flex-direction: column;
        align-items: center;
    }

    #menuCataleg li {
        margin: 5px 0;
    }
}

/*article*/
#carrousel{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
#carrousel img{
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}
p {
    font-size: 16px;
}
#ofertes{
    font-size: 22px;
    text-decoration: underline;
}

/*aside*/
#selectimatges section{
    display: flex;
    width: 100%;
    height: 430px;
}
#selectimatges section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 0.5s ease;
}
#selectimatges section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

/*footer*/
body{
    margin:0;
    overflow-x:hidden;
}

.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}

.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color: rgb(128, 128, 128);
    font-size:0.8em;
}

.footer .row a{
    text-decoration:none;
    color: rgb(128, 128, 128);
    transition:0.5s;
}

.footer .row a:hover{
    color:#fff;
}

.footer .row ul{
    width:100%;
}

.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}

.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}

@media (max-width:720px){
    .footer{
        text-align:left;
        padding:5%;
    }
    .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
    }
    .footer .row a i{
        margin:0% 3%;
    }
}

/*////////////////////////---------------->Catàleg<--------------------////////////////////////*/


/*////////////////////////---------------->Cistella<-------------------////////////////////////*/


/*////////////////////////---------------->Condicions<-----------------////////////////////////*/


/*////////////////////////---------------->Contacte<-------------------////////////////////////*/


/*////////////////////////---------------->Registre<-------------------////////////////////////*/


/*////////////////////////---------------->Cataleg<-------------------////////////////////////*/

#cat_container{
    margin: auto;
    max-width: 1200px;
    height: 170em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}
#cat_filtres{
    border: red dotted thin;
}
#cat_filtres ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;


}
#cat_filtres li {
    list-style: none;
    border-left: grey thin solid;
    border-right: grey thin solid;
    padding: 0 2em 0 2em;

}

#cat_reco, #cat_popu, #cat_marca {
    width: 100%;
    overflow: auto;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.88), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1em;
    padding: 1em;

}
h2 {
    background-color: grey;
    width: max-content;
    padding: .5em;
    font-size: 2em;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.88), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1em;
}
.gallery img {
    max-width: 300px;
    max-height: 175px;
    margin-left: 2em;
    margin-right: 2em;
}

.cat_grid {
    display: grid;
}
    #gallery_reco_1 {grid-column: 1 ; grid-row: 1; }
    #gallery_reco_2 {grid-column: 2 ; grid-row: 1; }
    #gallery_reco_3 {grid-column: 3 ; grid-row: 1; }
    #gallery_reco_4 {grid-column: 4 ; grid-row: 1; }
    #gallery_reco_5 {grid-column: 5 ; grid-row: 1; }
    #gallery_reco_6 {grid-column: 6 ; grid-row: 1; }

    #gallery_popu_1 {grid-column: 1 ; grid-row: 1; }
    #gallery_popu_2 {grid-column: 2 ; grid-row: 1; }
    #gallery_popu_3 {grid-column: 3 ; grid-row: 1; }
    #gallery_popu_4 {grid-column: 4 ; grid-row: 1; }
    #gallery_popu_5 {grid-column: 5 ; grid-row: 1; }
    #gallery_popu_6 {grid-column: 6 ; grid-row: 1; }

    #gallery_marca_1 {grid-column: 1 ; grid-row: 1; }
    #gallery_marca_2 {grid-column: 2 ; grid-row: 1; }
    #gallery_marca_3 {grid-column: 3 ; grid-row: 1; }
    #gallery_marca_4 {grid-column: 4 ; grid-row: 1; }
    #gallery_marca_5 {grid-column: 5 ; grid-row: 1; }


.gallery  {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    margin:0 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;



}

.gallery_marca  {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    margin:0 5px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    position: relative;

}

.gallery img:hover{

    transition: opacity .5s;
    opacity: 0;
}


.soh-back{
    position: absolute;
    top: 0;
    left: 0;
}
.gallery img{
    margin-bottom: 1em;

}
.desc {
    width: 99%;
    margin-bottom: 1em;
    padding-top: 1em;

}
.preu {
    width: 50%;
    margin-bottom: 1em;
    padding-top: 1em;
}
.add {
    width: 50%;
    text-align: right;
    padding-top: 1em;
}

.gallery_marca img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: -60%;
}

.gallery_marca:hover img {
    opacity: 0.3;
}

.gallery_marca:hover .middle {
    opacity: 1;
}

.text_marca {
    background-color: #363636;
    color: #ffffff;
    font-size: 1em;
    padding: 1em 2em;
    text-align: center;
}

/*------------->SLIDER< -----------------*/
@keyframes slide {
    0% { transform: translateX(0); }
    10% { transform: translateX(0); }

    15% { transform: translateX(-100%); }
    30% { transform: translateX(-100%); }

    35% { transform: translateX(-200%); }
    50% { transform: translateX(-200%); }

    55% { transform: translateX(-300%); }
    70% { transform: translateX(-300%); }

    75% { transform: translateX(-400%); }
    90% { transform: translateX(-400%); }

    95% { transform: translateX(-500%); }
    100% { transform: translateX(-500%); }
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
    font-family: sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.slider {
    position: relative;
}

.slides {
    position: relative;
    display: flex;
    overflow: hidden;
}

.slide {
    width: 100vw;
    flex-shrink: 0;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.slides:hover .slide {
    animation-play-state: paused;
}

.slide img {
    width: 100%;
    vertical-align: top;
}

.slide a {
    width: 100%;
    display: inline-block;
    position: relative;
}

.caption {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 8vw;
    position: absolute;
    bottom: 8vw;
    right: 4vw;
}

.slide:target {
    animation-name: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}

.slider-controler {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

.slider-controler li {
    margin: 0 0.5rem;
    display: inline-block;
    vertical-align: top;
}

.slider-controler a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
    .slide {
        width: 1200px;
    }

    .caption {
        font-size: 96px;
        bottom: 96px;
        right: 50px;
    }
}